@model AspIdentity.AspNetUsers

@{
    ViewBag.Title = "Delete";
}
<div class="col-md-9">
    <h4>DELETE USER</h4>

    <h5>The following USER will be deleted</h5>
    <div>
      
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.FirstName,new { @style = "font-weight:400 !important;text-transform:uppercase"})
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.LabelFor(model => model.LastName, new { @style = "font-weight:400 !important;text-transform:uppercase" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.LabelFor(model => model.UserName, new { @style = "font-weight:400 !important;text-transform:uppercase" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            

            <div class="form-actions no-color" style="float:right">

                @Html.ActionLink("Back to List", "Users","Projects", null, new { @class = "btn btn-default", @style = "border-style:outset" })
                <input type="submit" value="Delete" class="btn btn-default" style="border-style:outset" />
            </div>
        }
    </div>
    </div>